.card {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.card img {
  width: 100%;
  height: 100%;
  transition: none;
}

.description {
  position: fixed;
  top: 300px;
}

.gallery {
  background-color: #fff;
  flex: 1;
  z-index: 10;
}

.carousel {
  position: absolute;
  top: 100px;
  width: 100%;
  overflow-x: hidden
}

.button-container {
  display: block;

  margin-top: 40px;
  margin-right: 40px
}

.button-container button {
  float: right;
  margin-right: 150px;
}

.main {
  padding-top: 100px;
  width: 200px;
  height: 200px;
  margin: auto
}

.main img {
  width: 200px;
  height: 200px;
}

.modal {
  position: fixed;
  width: 1440px;
  height: 1440px;
  display: flex;
  z-index: 10;
}

.portrait {
  background-color: #fff;
  flex: 2;
  z-index: 10;
  filter: none;
}

.svg {
  height: 24px;
  width: 24px;
  display: block;
  fill: rgb(72, 72, 72)
}
