.card {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.card img {
  width: 100%;
  height: 100%;
  transition: none;
}

.description {
  position: fixed;
  top: 300px;
}

.gallery {
  background-color: #fff;
  flex: 1;
  z-index: 10;
  height: 100vh;
}

.carousel {
  position: absolute;
  top: 100px;
  width: 100%;
  overflow-x: hidden
}

.button-container {
  display: block;
  margin-top: 40px;
  margin-right: 40px
}

.button-container button {
  float: right;
  margin-right: 150px;
}

.hide-modal-svg, .prevPhoto-svg, .nextPhoto-svg {
  height: 24px;
  width: 24px;
  display: block;
  fill: rgb(72, 72, 72)
}

.main {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.main-img {
  border-radius: 16px;
  max-width: 85%;
  max-height: 85vh;
  object-fit: cover;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 10;
}

.hide-modal, .nextPhoto, .prevPhoto {
  border: none;
}

.nextPhoto svg{
  float: right;
}

.portrait {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  flex: 2;
  z-index: 10;
  filter: none;
  vertical-align: center;
}

.portrait-button-container {
  position: absolute;
  width: 100%;
  height: 100%;
  margin:auto;
}

.prevPhoto, .nextPhoto {
  display: inline-block;
  width: 50%;
  height: 100%;
  margin:0px;
}




